.calc { border: 3px solid #0096c4; border-radius: 30px; background: transparent; position: relative; width:52em; margin: 15px auto;}
.calc .close { position: absolute; right: 40px; top: 30px; color: #000; cursor: pointer; font-size: 30px; }
.calc input[type=checkbox] { height: 30px; line-height: 22px; }
.calc select { height: 30px; padding-top: 0; padding-bottom: 0; padding-left: 10px; padding-right: 10px; background-color: #fff;}
.calc input[type=text] { height: 30px; padding-left: 10px; padding-right: 10px; }
.calc .name { background: #0096c4; padding: 20px 80px; font-size: 20px; font-weight: bold; text-transform: uppercase; color: #fff; border-radius: 25px 25px 0 0; }
.calc .form { padding: 20px 80px; }
.calc .form a { color: #000; }
.calc .form a.modal { border-color: rgba(0,0,0,.75); }
.calc .form a.modal.active { border-color: transparent; }
.calc .form .field label + select { margin-left: 10px; margin-right: 20px; }
.calc .form .weight { margin: 1.5em 0 .75em 0; position: relative; }
.calc .form .weight select { margin-right: 20px; }
.calc .form .weight input { width: 50px; margin-left: 10px; margin-right: 20px; }
.calc .form .weight input.w80 { width: 80px; }
.calc .form .weight .weight_item { margin: .75em 0; position: relative; padding-right: 15px; }
.calc .form .weight .btn { background: #0096c4; color: #fff; }
.calc .form .weight .remove { position: absolute; right: 0; top: 4px; width: 20px; height: 20px; cursor: pointer; }
.calc .form .weight .remove:before,
.calc .form .weight .remove:after { content: " "; display: block; width: 15px; height: 1px; background: #000; }
.calc .form .weight .remove:before { transform: rotate(45deg) translate(9px, 5px); }
.calc .form .weight .remove:after { transform: rotate(-45deg) translate(-4px, 8px); }
.calc .form .weight .weight_item .remove { display: none; }
.calc .form .weight .weight_item ~ .weight_item .remove { display: block; }
.calc .form .services { margin: 1.5em 0 2.25em 0; }
.calc .form .services .checkboxes { line-height: 17px; margin: .75em 0 0; }
.calc .form .services .checkboxes .checkbox { display: inline-block; width: 30%; margin-right: 2%; }
.calc .form .services .checkboxes + .checkboxes { margin: 0 0 0 0; }
.calc .form .buttons { font-size: 0; text-align: center; }
.calc .form .buttons .btn { background: #0096c4; color: #fff; width: 30%; border-width:0; border-radius: 30px}
.calc .form .result { font-size: 18px; line-height: 30px; margin-bottom: 1em; }
.calc .form .result span { font-size: 22px; font-weight: 500; margin-left: 10px; margin-right: 10px; }
.calc .form .result i { font-size: 22px; font-weight: 500; font-style: normal; }

.checkbox input[type="checkbox"]:not(:checked),
.checkbox input[type="checkbox"]:checked { position: absolute; left: -9999px; }
.checkbox input[type="checkbox"]:not(:checked) + span,
.checkbox input[type="checkbox"]:checked + span { position: relative; padding-left: 25px; cursor: pointer; }
.checkbox input[type="checkbox"]:not(:checked) + span:before,
.checkbox input[type="checkbox"]:checked + span:before { content: ''; position: absolute; left: 0; top: 0; width: 15px; height: 15px; border: 1px solid #b4c9d2; background: #000; border-radius: 3px; }
.checkbox input[type="checkbox"]:not(:checked) + span:after,
.checkbox input[type="checkbox"]:checked + span:after { content: 'вњ”'; position: absolute; top: 1px; left: 2px; font-size: 18px; line-height: 0.8; color: #0081cc; transition: all .2s; }
.checkbox input[type="checkbox"]:not(:checked) + span:after { opacity: 0; transform: scale(0); }
.checkbox input[type="checkbox"]:checked + span:after { opacity: 1; transform: scale(1); }
.checkbox input[type="checkbox"]:disabled:not(:checked) + span:before,
.checkbox input[type="checkbox"]:disabled:checked + span:before { box-shadow: none; border-color: #bbb; background-color: #ddd; }
.checkbox input[type="checkbox"]:disabled:checked + span:after { color: #999; }
.checkbox input[type="checkbox"]:disabled + span { color: #aaa; }
.checkbox input[type="checkbox"]:checked:focus + span:before,
.checkbox input[type="checkbox"]:not(:checked):focus + span:before { border: 1px dotted blue; }
.checkbox span { display: inline-block; line-height: 17px; vertical-align: top; }
.checkbox span:hover:before { border: 1px solid #0081cc !important; }
