html {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-width: 889px;
}

.header {
  width: 100%;
  max-width: 2000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

.pos2 {
  text-align: center;
}

.pos2 a {
  font-size: 60px;
  font-weight: bold;
}

.red {
  border-radius: 10px;
  background-color: #dd4f3e
}

nav {
  z-index: 999;
  font-weight: bold;
  margin: auto;
  background-color: #099dca;
  display: flex;
  justify-content: space-between;
}

/* убираем отступы и поля, а также list-style для "ul",
      			 * и добавляем "position:relative" */
nav ul {
  z-index: 999;
  border-radius: 10px;
  padding: 0;
  margin: auto;
  list-style: none;
  position: relative;
}

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
  z-index: 999;
  margin: auto;
  display: inline-block;
  background-color: #099dca;
}

/* стилизуем ссылки */
nav a {
  z-index: 999;
  display: block;
  padding: 0 10px;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

nav a:hover {
  z-index: 999;
  background-color: #000000;
}

nav ul ul {
  z-index: 999;
  display: none;
  position: absolute;
  top: 100%;
}

nav ul li:hover>ul {
  z-index: 999;
  display: inherit;
}

nav ul ul li {
  z-index: 999;
  min-width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

.price {
  width: 100%;
  max-width: 1000px;
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: auto;
  justify-content: center;
}

.item {
  text-align: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 4px;
}

.item_1 {
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #099dca;
  color: #fff
}

.item_2 {
  font-weight: bold;
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: #099dca;
  color: #fff
}

.item_3 {
  font-weight: bold;
  grid-column-start: 5;
  grid-column-end: 7;
  background-color: #099dca;
  color: #fff
}

.item_4 {
  font-weight: bold;
  grid-column-start: 7;
  grid-column-end: 9;
  background-color: #099dca;
  color: #fff
}

.item_5 {
  font-weight: bold;
  grid-column-start: 9;
  grid-column-end: 11;
  background-color: #099dca;
  color: #fff
}

.item_16 {
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 11;
  background-color: #099dca;
  color: #fff
}

.item_17 {
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 11;
}

.item_24 {
  grid-column-start: 7;
  grid-column-end: 9;
}

.item_25 {
  grid-column-start: 9;
  grid-column-end: 11;
}

.item_32 {
  grid-column-start: 7;
  grid-column-end: 9;
}

.item_33 {
  grid-column-start: 9;
  grid-column-end: 11;
}

.item_40 {
  grid-column-start: 7;
  grid-column-end: 9;
}

.item_41 {
  grid-column-start: 9;
  grid-column-end: 11;
}

.item_42 {
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 11;
  background-color: #099dca;
  color: #fff
}

.item_43 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.item_44 {
  font-weight: bold;
  grid-column-start: 4;
  grid-column-end: 7;
}

.item_45 {
  font-weight: bold;
  grid-column-start: 7;
  grid-column-end: 9;
}

.item_46 {
  font-weight: bold;
  grid-column-start: 9;
  grid-column-end: 11;
}

.item_47 {
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 4;
}

.item_48 {
  grid-column-start: 4;
  grid-column-end: 7;
}

.item_49 {
  grid-column-start: 7;
  grid-column-end: 9;
}

.item_50 {
  grid-column-start: 9;
  grid-column-end: 11;
}

.item_51 {
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 4;
}

.item_52 {
  grid-column-start: 4;
  grid-column-end: 7;
}

.item_53 {
  grid-column-start: 7;
  grid-column-end: 9;
}

.item_54 {
  grid-column-start: 9;
  grid-column-end: 11;
}

.item_55 {
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 4;
}

.item_56 {
  grid-column-start: 4;
  grid-column-end: 7;
}

.item_57 {
  grid-column-start: 7;
  grid-column-end: 9;
}

.item_58 {
  grid-column-start: 9;
  grid-column-end: 11;
}

.map {
  margin: 15px auto;
  border: 1px solid grey;
  border-radius: 4px;
  width: 900px
}

.sings {
  width: 100%;
  max-width: 1000px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
}

.form-zvonok {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
  border: 3px solid #0096c4;
  border-radius: 30px;
  width: 420px;
  font-family: 'Roboto';
}

label {
  font-size: 18px;
  text-align: center;
}

.guruweba_example_form .guruweba_example_infofield {
  margin: 10px;
  font-weight: bold;
}

select, input, textarea {
  width: 350px;
  margin: 5px auto;
  padding: 5px 15px;
}

.butmsg {
  width: 385px;
  padding: 15px;
  margin: 10px auto;
  background: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: #42aaff;
  cursor: pointer;
  border: 3px #000000 solid;
  border-radius: 5px;
}

textarea {
  height: 110px;
  resize: none;
}
